@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFEA;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 99;
}

.navbar {
    width: 100%;
    height: 4rem;
    background-color: #e4d6cf;
    box-shadow: 0 1px 3px grey;
}

.navlogo {
    margin-right: 4rem;
}

.navlink ul {
    list-style: none;
    display: flex;
    margin-right: 400px;
}

.navlink ul li a {
    font-family: "Hind Siliguri", sans-serif;
    text-decoration: none;
    color: black;
    margin-top: 1.5rem;
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navlink ul li a:hover {
    color: brown;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search {
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 8px;
}

button {
    border-radius: 8px;
    padding: 5px;
    margin-left: 5px;
    border: 0.2px solid rgb(225, 213, 196);
    transition: color 0.3s ease;
}

button:hover {
    color: brown;
}

.left {
    margin-right: 100px;
    margin-top: 200px;
    margin-left: 100px;
    width: 30%;
    position: relative;
}
.leftcontainer{
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50%,-50%);
}
h1 {
    font-size: 4rem;
}

.left p {
    margin-top: 20px;
    line-height: 1.3rem;
}

.explore {
    margin-top: 10px;
}

.right {
    margin-top: 200px;
    width: 50%;
    position: relative;
}
.rightcontent{
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50%,-50%);
}
.featured {
    display: flex;
    gap: 30px;
}

.featured-img img {
    width: 200px;
    height: auto;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.featured-img p, .featured-img a {
    text-align: center;
    display: block;
    margin-top: 10px;
}

.featured-img a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.featured-img a:hover {
    color: red;
}
