@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFEA;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 99;
}

.navbar {
    width: 100%;
    height: 4rem;
    background-color: #e4d6cf;
    box-shadow: 0 1px 3px grey;
}

.navlogo {
    margin-right: 4rem;
}

.navlink ul {
    list-style: none;
    display: flex;
    margin-right: 400px;
}

.navlink ul li a {
    font-family: "Hind Siliguri", sans-serif;
    text-decoration: none;
    color: black;
    margin-top: 1.5rem;
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navlink ul li a:hover {
    color: brown;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search {
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 8px;
}

button {
    border-radius: 8px;
    padding: 5px;
    margin-left: 5px;
    border: 0.2px solid rgb(225, 213, 196);
    transition: color 0.3s ease;
}

button:hover {
    color: brown;
}

.left {
    margin-right: 80px;
    margin-top: 200px;
    margin-left: 170px;
    width: 30%;
    position: relative;
}
.leftcontainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1 {
    font-size: 4rem;
}

.left p {
    margin-top: 20px;
    line-height: 1.3rem;
}

.explore {
    margin-top: 10px;
}

.right {
    margin-top: 200px;
    width: 50%;
    position: relative;
}
.rightcontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.featured {
    display: flex;
    gap: 30px;
}
.featured-img img {
    width: 200px;
    height: auto;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    object-fit: cover;
}

.featured-img p, .featured-img a {
    text-align: center;
    display: block;
    margin-top: 10px;
}

.featured-img a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.featured-img a:hover {
    color: red;
}
/*------------------------BESTSELLER SECTION---------------------------*/

.bestsellers-section {
    margin: 50vh 11.5vw;    
}

.bestseller-text{
    font-size: 50px;
    margin-bottom: 16px;
    font-weight: 600;
}

.bestseller-container{
    display: flex;
    gap: 20px;      
}

.book-item {                       
    gap: 10px;                        
}

.book-image{
    display: flex;
    justify-content: center;
    object-fit: contain ;
    height: 56vh;
    
}

.book-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 4px;
    
    
    
}

.book-title{
    margin-right: 36px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
   
    font-family: 'Times New Roman', Times, serif ;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    
}

.author{
    font-size: 15px;
}

.rating i {
    
    margin: 4px 0;
    color: #f5c518;
}

/*------------------------OFFERS SECTION ----------------------------------*/
.offersContainer{
    margin: 50vh 11.5vw;
    gap: 20px;
}
.offersContainer h2{
    display: block;
    font-size: 50px;
    margin-bottom: 16px;
    font-weight: 600;
    margin-left: 4%;
}
.img_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:16px;
}

.offersContainer .offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.offersContainer .offer img{
    display: block;
    object-fit: contain ;
    height: 56vh;
    border-radius: 0 0 45% 45%;
}
.offersContainer .offer #img_b{
    border-radius: 45% 45% 0 0;
}
.offersContainer .offer .offer-details{
    display: block;
    text-align: center;
}

.offersContainer .offer .offer-details p{
    font-family: 'Roboto Light', sans-serif;
    font-size: 24px;
}
.offersContainer .offer .offer-details .btn{
    display: inline-block;
    border-radius: 10px;
    height:auto;
    width: 50%;
    justify-content: center;
    transition: color 0.3s ease;
}
.offersContainer .offer .btn:hover{
    transition: color 0.3s ease
}