*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.loadingBar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    padding-left: 1vw;
}
.loader {
    width: 80px;
    height: 50px;
    position: relative;
}

.loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #C8B6FF;
    animation: text_713 3.5s ease both infinite;
    font-size: .8rem;
    letter-spacing: 1px;
}

.load {
    background-color: #9A79FF;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
}

.load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #D1C2FF;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
    0% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }
}

@keyframes loading_713 {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

@keyframes loading2_713 {
    0% {
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
        width: 16px;
    }
}

.container {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: left;
    margin-bottom: 30px;
    font-size: 3rem;

}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin: 10px 0 5px;
}
input[type="text"], input[type="number"], textarea {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
}
input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: black;
    transition: ease-in-out 0.2s;
}
input[type="submit"]:hover {
        color: #cfe5cf;
        transition: ease-in-out 0.2s;
    }
button{
    width: 100%;
    height: 100%;
}

.login-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgb(255, 136, 0);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .login-button:hover {
    background-color: #155ab6;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }

.BookContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.BookCard {
    margin: 10px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr 1fr;
    align-items: center;
    gap: 0;
    border: 1px solid #ddd;
}

.BookCard img {
    max-width: 100px;
    max-height: 100px;
    border-right: 1px solid #ddd;
}

.DeleteBTN {
    width: 5vw;
    height: 5vh;
    background-color: #f54b4b;
    transition: ease-in-out 0.2s;
    text-align: center;
    border: 1px solid #ddd;
}

.DeleteBTN:hover {
    background-color: #fd7f7f;
}
.EditBTN {
    width: 5vw;
    height: 5vh;
    background-color: #1de7e7;
    transition: ease-in-out 0.2s;
    text-align: center;
    border: 1px solid #ddd;
}

.EditBTN:hover {
    background-color: #adf3fd;
}
.AddButtonDiv{
    display: flex;
    justify-content: center;
}
.AddBTN {
    width: 5vw;
    height: 5vh;
    background-color: #1de720;
    transition: ease-in-out 0.2s;
    text-align: center;
    border: 1px solid #ddd;
}

.AddBTN:hover {
    background-color: #82ea86;
    transition: ease-in-out 0.2s;
}