@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFEA;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 99;
}

.full-navbar{
    
    display: flex;
    align-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-container{
    height: 80%;
    width: 80px;
}

.booklogo{
    object-fit: cover; 
    object-position: center;
    width: 100%;  
    height: 100%;
    border-radius: 50%;
}

.navbar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    width: 100%;
    height: 6rem;
    background-color: #e4e1df;
    box-shadow: 0 2px 5px grey;
}

.navlogo {
    margin-right: 6rem;
}

.navlink ul {
    list-style: none;
    display: flex;
    margin-right: 400px;
    
}

.navlink ul li a {
    font-family: "Hind Siliguri", sans-serif;
    text-decoration: none;
    color: black;
    margin-top: 2.5rem;
    margin-right: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navlink ul li a:hover {
    color: brown;
    text-decoration: underline;
    transition: color 0.3s ease;
    
}



.search-bar {
    display: flex;
    align-items: center;
    
}

.search {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 8px;
}
.Account{
    padding: 0;
    width: 100px;
    margin-left: 300px;
    border: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.Account p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center;
}
.Account :hover{
    color: brown;
}
.Account i{
    margin-left: 38px;
    color: black;
    transition: ease-in-out 0.2s;
}
.Account i:hover{
    color: brown;
    transition: ease-in-out 0.2s;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 6px;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    border: 0.2px solid rgb(225, 213, 196);
    transition: color 0.3s ease;
}

button:hover {
    color: brown;
}

a {
    position: relative; /* Ensure the badge stays within the bounds of the <a> element */
}

.fa-solid.fa-cart-shopping {
    position: relative; /* Relative positioning for proper badge alignment */
    font-size: 24px; /* Adjust icon size if necessary */
}

.cart-quantity {
    display: flex;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    background-color: #cc0000;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    top: 12.5px; /* Adjust these values to position the badge over the icon */
    right: -10px;
}



.left {
    margin-right: 130px;
    margin-top: 300px;
    margin-left: 14vw;
    margin-right: 14vw;
    width: 40%;
    position: relative;
}
.leftcontainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    font-size: 7rem;
    line-height: 6.2rem;
}

.left p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.4rem;
}

.explore {
    border:none;
    border-radius: 20px;
    font-family: gilroy, serif;
    margin-top: 15px;
    width: 50%;
    height: 40px;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.explore:hover{
    background-color: white;
    color: black;
    transition: color .3s ease, background-color .3s ease;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}


.right {
    margin-top: 300px;
    width: 60%;
    margin-right: 100px;    
}
.rightcontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.featured {
    display: flex;
    gap: 40px;
}
.featured-img img {
    width: 250px;
    height: auto;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    object-fit: cover;
}
.featured-img-b img {
    width: 250px;
    height: auto;
     border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    object-fit: cover;
}
.featured-img p, .featured-img a,.featured-img-b p, .featured-img-b a {
    text-align: center;
    display: block;
    margin-top: 10px;
    
}

.featured-img a,.featured-img-b a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.featured-img a:hover,.featured-img-b a:hover {
    color: red;
}



/*------------------------BESTSELLER SECTION---------------------------*/

.bestsellers-section {
    margin: 26vh 14vw;
    width: 80vw;
}

.bestseller-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    margin-bottom: 16px;
    font-weight: 600;
}

.bestseller-text a{
    font-size: 14px;
    color: black;
}
#BestSellerSeeAll {
    border: none;
    margin-right: 140px;
    border-radius: 20px;
    font-family: gilroy, serif;
    background-color: transparent;
    font-size: 1.3rem;
    /* background-color: black;
    color: white; */
}

#BestSellerSeeAll:hover{
    cursor: pointer;
    color: black;
    background-color: #FFFFEA;
    transition: color .3s ease, background-color .3s ease;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.bestseller-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.book-item {                       
    gap: 10px;
}

.book-image{
    display: flex;
    justify-content: center;
    object-fit: contain ;
    height: 56vh;
}

.book-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 4px;

}

.book-title{
    margin-right: 36px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
   
    font-family: 'Times New Roman', Times, serif ;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    
}

.author{
    font-size: 15px;
}
.rating i {
    
    margin: 4px 0;
    color: #f5c518;
}

.add-book-button{
    border:none;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 4px;
    margin-left: 3.5rem;
    width: 50%;
    height: 40px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.add-book-button:hover{
    cursor: pointer;
    color: black;
    background-color: #FFFFEA;
    transition: color .3s ease, background-color .3s ease;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.add-book-button p{
    margin-right: 5px;
}

.add-to-cart-logo{
    filter: invert();
}

.ShowMoreButton{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}
.ShowMoreButton #ShowMoreButton{
    display: none;
    border: none;
    margin-right: 140px;
    border-radius: 20px;
    font-family: gilroy, serif;
    font-size: 1.3rem;
    background-color: black;
    color: white;
}
.ShowMoreButton #ShowMoreButton:hover{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    cursor: pointer;
    color: black;
    background-color: #FFFFEA;
    transition: color .3s ease, background-color .3s ease;
}
.ShowMoreButton #ShowMoreButton:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.ModifyBook{
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 4px;
    margin-left: 3.5rem;
    width: 50%;
    height: 40px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
}
.ModifyBook .Modify_button{
    border: none;
    font-size: 40px;
    background: none;
    color: white;
    margin-bottom: 1vh;
}
/*------------------------OFFERS SECTION ----------------------------------*/
.offersContainer{
    margin: 10vh 14vw 10vh 11.5vw;
    gap: 20px;
}
.offersContainer h2{
    display: block;
    font-size: 50px;
    margin-bottom: 16px;
    font-weight: 600;
    margin-left: 4%;
}
.img_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:16px;
}

.offersContainer .offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.offersContainer .offer img{
    display: block;
    object-fit: contain ;
    height: 56vh;
    border-radius: 0 0 45% 45%;
}
.offersContainer .offer #img_b{
    border-radius: 45% 45% 0 0;
}
.offersContainer .offer .offer-details{
    display: block;
    text-align: center;
}

.offersContainer .offer .offer-details p{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    line-height: 1.3rem;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
}
.offersContainer .offer .offer-details .btn{
    display: inline-block;
    border-radius: 10px;
    height:auto;
    width: 50%;
    justify-content: center;
    transition: color 0.3s ease;
}

.btn{
    border:none;
    border-radius: 20px;
    font-family: gilroy, serif;
    margin-top: 4px;
    margin-left: 1rem;
    width: 90px;
    height: 40px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.btn:hover{
    background-color: white;
    color: black;
    transition: color .3s ease, background-color .4s ease;
}
/*-----------------------Get To Know-----------------------------*/
.Get_to_know{
    display: flex;
    flex-direction: column;
    margin: 10vh 11.5vw;
    justify-content: center;
}
.Upperbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Upperbar a{
    margin-top: 5vh;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.Upperbar p{
    display: block;
    font-size: 50px;
    margin-bottom: 16px;
    font-weight: 600;
    margin-left: 4%;
}
.ImagePlace{
    display: flex;
    flex-direction: row;
    margin-left: 2.8vw;
}
.backcolor{
    position: absolute;
    z-index: -1;
    background: black;
    width: 73.3vw;
    height: 35vh;
}
.ImagePlace img{
    height : auto;
    width:15%;
    border-radius: 0 0 45% 45%;
}
.ImagePlace .nametext{
    height: 99%;
    margin-left: 2vw;
    margin-bottom: 20px;
    padding: 20px;
    text-align: justify;
    font-size: 16px;
    color: #ccc;
    line-height: 1.6;
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;

}

/*-----------------------FOOTER-----------------------------*/
.footer{
    margin: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #fcfce4;
}
.footer_box{
    width: 15%;
    display: flex;
    flex-direction: column;
}
.footer_box p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
}
.footer_box a{
    text-decoration: none;
    margin-top: 2vh;
    color: #000;
    font-size: 16px;
}
.footer_box input{
    margin: 2vh 0 1vh 0;
    width: 100%;
    height: 4vh;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    padding:0.5vh;
    font-size: 13px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
.btn-email{
    height: 4vh;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 0.5vh;
    font-size: 13px;
    cursor: pointer;
}
.btn-email:hover{
    background-color: white;
    color: black;
    transition: color .3s ease;
    transition: background-color .3s ease;
}

.last{
    display: block;
    background: #fcfce4;
    width: 100%;
    text-align: center;
}